{% extends "base.html" %}
{% block title %}zhengjin99运维·平台{% endblock %}
{% block console_name %}
    欢迎登陆zhengjin99运维·平台
{% endblock %}
{% block ol_a_link %}

{% endblock %}
{% block main_content %}
    <h4>
        zhengjin99运维·平台 详情
    </h4>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>10</h3>
                    <p>用户数量</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>

                </div>
                <a href="#">详情</a>
            </div>

        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>8</h3>
                    <p>维护中项目</p>
                </div>
                <div class="icon">
                    <i class="ion ion-code-working"></i>

                </div>
                <a href="#">详情</a>
            </div>

        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>20</h3>
                    <p>版本发布次数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-fork-repo"></i>

                </div>
                <a href="#">详情</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>test</h3>
                    <p>ttttt</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>

                </div>
                <a href="#">详情</a>
            </div>

        </div>

    </div>
    <!-- Content Header (Page header) -->




{% endblock %}
