{% extends 'base.html' %}

{% block title %}
证金运维平台
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-info">
            <div class="box-header with-border">
                使用xls文件导入组关系
            </div>
                <form method="post" enctype="multipart/form-data" > {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="xlsfile">文件</label>
                            <input type="file" id="id_file" name="file">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}