{% extends "base.html" %}
{% block title %}vsystem--IDC{% endblock %}
{% block console_name %}
    IDC管理
{% endblock %}
{% block ol_a_link %}

{% endblock %}
{% block main_content %}
    <div class="col-lg-11">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>


    <section class="content">


        <div class="row">
            <div class="col-lg-3 col-xs-6">

                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            150
                        </h3>
                        <p>
                            New Orders
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}