{% extends "base.html" %}
{#{% load idc_tags %}#}
{% block title %}ip地址管理{% endblock %}



{% block console_name %}
    ip地址管理
{% endblock %}
{% block ol_a_link %}
    <li><a id="addform" data-toggle="modal" href="#uploadfile"><i class="fa fa-plus"></i>新增</a></li>

    <div id="uploadfile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加</h4>
                </div>

                <form class="form-horizontal" method="POST"  enctype="multipart/form-data" name="form"> {% csrf_token %}
                    <div class="modal-body">
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }}{{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input type="submit" class="btn btn-primary" value="添加" id="Save" style="margin-left:400px">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="table_data" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>IP地址</th>
                            <th>使用状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in result %}
                            <tr>
                                <td>{{ i.address }}</td>
                                <td>{{ i.inuse }}</td>
                                <td>
                                    <a href="{% url 'resources:updateip' pk=i.id %}">修改</a> &nbsp; | &nbsp;
                                    <a href="{% url 'resources:delip' pk=i.id %}">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">

                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                        <li>
                            <a>
                                第{{ page_obj.number }}页|共{{ page_obj.paginator.num_pages }}页
                            </a>
                        </li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% endif %}

                    </ul>
                </div>
    </div>
    </div>
</div>
{% endblock %}

{% block end_js %}
    <script>
        $(function() {
            $("#example1").dataTable();
            //设定table_data 数据样式以及格式
            $('#table_data').dataTable({
                "bPaginate": false,//关闭js分页
                "bLengthChange": false,//关闭表格宽度调整
                "bFilter": true,//开启filter功能
                "bSort": true,//开启排序功能
                "bInfo": false,
                "bAutoWidth": false
            });
        });
    </script>
{#    表单验证失败弹出表单#}
    {% if form.errors %}
        <script>
            $(function() {
                var test1 = document.getElementById("addform");
                test1.click();
            });
        </script>
    {% endif %}
{% endblock %}






