<html lang='utf-8'>
<head>
	<title>测试</title>
</head>
<body>
{# 判断传入对象是否为空，如果不为空，显示对象 #}

{% if aduserdata %}
    <p>搜索到： {{ aduserdata|length }} User{{ aduserdata|pluralize }}.</p>
    <ul>
			
			<table border="1" align="center"><span style="font-size:8px;color:#006600;"></span>
   		{% for user in aduserdata %}
   		<caption align="top">搜索到的用户</caption>
        		<tr><td width="50"><font size="1">{{user.aduser}}</font></td>   
        			 <td width="100"><font size="1">{{user.adaccount}}</font></td>   
        			 <td width="250"><font size="1">{{user.department}}</font></td>  
        			 <td width="150"><font size="1">{{user.timestamp|date:"Y-m-d H:i:s"}}</font></td>
        			 <td width="250"><font size="1">{{user.aduserfile|cut:"/data/jump/vsa/upload/xls/"}}</font></td>
        		</tr>  
        	{% endfor %}
  
			</table>  
    </ul>
    		<form width=500 height=300 action="" method="POST">{% csrf_token %}
	   			
	   			<ul>

							
					</ul>
						<p> <input type="submit" value="发送"> </p>
			
			</form>
{% else %}
    <p> 没有搜索到账号 </p>
     
{% endif %}
	
</body>
</html>